---
import Head, { type Props as HeadProps } from './Head.astro'

import '@fontsource-variable/lexend'

export interface Props extends HeadProps {}
---

<!DOCTYPE html>
<html lang="fr" prefix="og: https://ogp.me/ns#">
	<head>
		<Head {...Astro.props} />
	</head>
	<body class="bg-blue-50 dark:bg-slate-950 text-slate-950 dark:text-blue-50">
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-weight: 350;
	}
</style>
