---
import Footer from 'components/global/Footer.astro'
import Base, { type Props as BaseProps } from './Base.astro'
import Header from 'components/global/Header.astro'

export interface Props extends BaseProps {}
---

<Base {...Astro.props}>
	<Header />
	<div class="pt-24">
		<slot />
	</div>
	<Footer />
</Base>
