---
import Logo from 'assets/logo.svg'
import LogoDark from 'assets/logo.dark.svg'
import Picture from 'components/Picture.astro'
---

<header class="bg-white/1 z-10 justify-center sm:justify-normal transition-opacity
				fixed w-full h-20 flex items-center border-b border-slate-900/10 backdrop-blur-md">
	<a href="/">
		<Picture src={Logo} srcDark={LogoDark} alt="Avior.me Logo" class="h-9" />
	</a>
</header>
