---
import Logo from 'assets/logo.svg'
import LogoDark from 'assets/logo.dark.svg'
import { Image } from 'astro:assets'
---

<header class="bg-white/1 flex justify-center sm:justify-normal">
	<a href="/">
		<Image src={Logo} alt="Avior.me Logo" class="h-9 dark:hidden" />
		<Image src={LogoDark} alt="Avior.me Logo" class="h-9 hidden dark:block" />
	</a>
</header>

<style>
	header {
		@apply transition-opacity fixed w-full h-20 flex items-center border-b border-slate-900/10 backdrop-blur-md
	}
</style>
